// Webfont

@font-face {
  font-family: 'san_francisco_textbold';
  src: url('../ff/sanfranciscotext-bold-webfont.eot');
  src: url('../ff/sanfranciscotext-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../ff/sanfranciscotext-bold-webfont.woff2') format('woff2'),
       url('../ff/sanfranciscotext-bold-webfont.woff') format('woff'),
       url('../ff/sanfranciscotext-bold-webfont.ttf') format('truetype'),
       url('../ff/sanfranciscotext-bold-webfont.svg#san_francisco_textbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'san_francisco_textregular';
  src: url('../ff/sanfranciscotext-regular-webfont.eot');
  src: url('../ff/sanfranciscotext-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../ff/sanfranciscotext-regular-webfont.woff2') format('woff2'),
       url('../ff/sanfranciscotext-regular-webfont.woff') format('woff'),
       url('../ff/sanfranciscotext-regular-webfont.ttf') format('truetype'),
       url('../ff/sanfranciscotext-regular-webfont.svg#san_francisco_textregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Global

html, body {
  min-height: 100%;
}

body {
	font: 16px/1.5 $font;
	text-rendering: optimizedLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: $light;
	color: $color;
}

a {
	@include link-hover;
}

img {
  max-width: 100%;
  height: auto;
}


// Typography
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $montserrat;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 36px;
}

strong {
	font-family: $font-bold;
}