.main {
	padding: 45px 0;
}

.main__header {
	h1 {
		color: $purple;
		margin-bottom: 20px;
	}

	&__lead {
		font-size: 18px;
		//text-align: justify;
	}
}

// Home

.home {
	background: $purple url(../img/bg.jpg) center top no-repeat;
	background-size: cover;

	.header {
		background-color: transparent;

		.container {
			border-bottom: 1px solid rgba($pink,.2);
		}
	}

	.main {
		.row {
			height: 50vh;
			min-height: 400px;
			//padding: 90px 0 0;

			@media (max-width: $screen-sm-max) {
				text-align: center;
				height: auto;
				//padding: 15px 0;
			}

		}

		.col-md-8, .col-md-4 {
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));

			@media (max-width: $screen-sm-max) {
				position: static;
				@include transform(translateY(0));
			}
		}

		.col-md-4 {
			text-align: center;
		}
	}

	.footer {
		background: transparent;
		color: $pink;


		g {
			fill: $pink;
		}

		@media (min-width: $screen-md) and (min-height: 768px) {
			position: absolute;
			width: 100%;
			bottom: 0;
		}
	}
}

.teaser-image {
	width: 300px;
}

.coming-soon {
	background: #523a5a;
	color: #fff;
	display: inline-block;
	padding: 5px 10px 4px;
	font-family: $montserrat;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
	position: relative;

	&:after {
		position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-width: 12px 7px;
    border-style: solid;
    border-color: #523a5a transparent;
    right: -7px;
    top: 0;
	}
}

.home__tagline {
	color: #fff;
	position: relative;
	left: -2px;
	margin-top: 10px;
}

.home__description {
	color: $pink;
}


// KOL form
.kol_signup_form {
	margin: 20px 0 60px;
}
.kol-form {

	&-label {
		font-family: $font-bold;
		color: #fff;
		font-size: 14px;
		margin-bottom: 5px;
		display: inline-block;
	}

	&-group {
		display: inline-block;
		width: 45%;

		@media (max-width: $screen-sm-max) {
			display: block;
			text-align: center;
			width: auto;
			padding: 0 10%;
			margin-bottom: 15px;
		}
	}
}

.kol-required-star {
	display: none;
}

.inputs {
	border: none;
	border-radius: $radius;
	background: $light;
	padding: 12px 15px;
	width: 100%;

	&:active, &:focus {
		background-color: #fff;
		box-shadow: none;
		outline: 0;
	}

	@media (max-width: $screen-sm-max) {
		text-align: center;

	}
}

.kol-form-button {
	border: 2px solid #fff;
	border-radius: $radius;
	padding: 10px 20px;
	background: transparent;
	margin-left: 5px;
	color: #fff;
	text-transform: uppercase;
	font-family: $font-bold;
	@include link-hover;

	&:hover, &:active, &:focus {
		background: #fff;
		color: $purple;
	}

	@media (max-width: $screen-sm-max) {
		width: 100%;
		margin-left: 0;
	}
}



// About
.members {
	@media (min-width: 992px) {
		@include display(flex);
		margin: 0 -15px;
	}
}

.member {
	background: #fff;
	margin-top: 75px;
	padding: 30px;
	border-radius: 5px;
	@include display(flex);
	@include flex-direction(column);

	@media (min-width: 992px) {
		width: 33.33%;
		margin-left: 15px;
		margin-right: 15px;

		&:first-child{
			@include order(1);
		}
		&:nth-child(2){
			@include order(0);
		}
		&:nth-child(3){
			@include order(2);
		}
	}

	&__head {
		text-align: center;
		padding-bottom: 20px;

		img {
			border-radius: 50%;
			margin-bottom: 30px;
			margin-top: -90px;
			width: 120px;
		}

		h3 {
			font-family: $font-bold;
			color: $purple;
			font-size: 21px;
			margin-bottom: 5px;
		}

		h4 {
			color: $color-lighter;
			font-size: 12px;
			font-weight: 400;
		}
	}

	&__content {
		@include flex(1 0 auto);
	}
}

.member__link {
	text-align: center;

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
	}
}

.icon__social {
	background: url(../img/about-social.svg) no-repeat;
	width: 36px;
	height: 36px;
	margin: 0 3px;
	@include link-hover;
	opacity: .8;

	&--tw { background-position: -36px 0}
	&--web { background-position: -72px 0}
	&--db { background-position: -108px 0}

	&:hover {
		opacity: 1;
	}
}

// Terms
.paragraph__title {
	display: block;
}

// bottom CTA
.bottom-cta {
	color: #fff;
	background: $purple url(../img/bg.jpg) no-repeat;
	padding: 60px 0 30px;
	margin-top: 90px;

	@media (max-width: $screen-md-max) {
		padding-bottom: 60px;
	}

	@media (max-width: $screen-sm-max) {
		text-align: center;
	}
}

.cta__content {
	// position: relative;
	// top: 50%;
	// @include transform(translateY(-50%));
	//padding-top: 20px;

	.home__tagline {
		margin-top: 0;
	}

	.btn {
		margin-top: 20px;
	}
}

.cta__phone {
	margin-top: -100px;

	@media (max-width: $screen-sm-max) {

		img {
			max-width: 500px;
			margin-bottom: 20px;
		}
	}
}

.btn {
	&--outline {
		border: 2px solid #fff;
		border-radius: $radius;
		padding: 10px 20px;
		background: transparent;
		color: #fff;
		text-transform: uppercase;
		font-family: $font-bold;
		@include link-hover;

		&:hover, &:active, &:focus {
			background: #fff;
			color: $purple;
		}
	}
}