.rise {
	padding: 15px 0;
	background: $color url(../img/rise-bg.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	font-family: $font-bold;
	font-size: 14px;

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}
}

.rise-hk {
	width: 80px;
	margin-right: 15px;

	@media (max-width: $screen-xs-max) {
		margin: 0 auto 10px;
		display: block;

	}
}