// Font
$montserrat: "Montserrat", sans-serif;
$font: 'san_francisco_textregular', sans-serif;
$font-bold: 'san_francisco_textbold', sans-serif;

// Color
$color: #3b2742;
	$color-lighter: #7e7083;
$purple: #a74581;
$light: #ecebe9;