// Font
$montserrat: "Montserrat", sans-serif;
$font: 'san_francisco_textregular', sans-serif;
$font-bold: 'san_francisco_textbold', sans-serif;

// Color
$color: #3b2742;
	$color-lighter: #7e7083;
	$color-softer: #523A5a;
$purple: #a74581;
$light: #ecebe9;
$pink: #f6c7e4;

// media queries from Bootstrap
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;


$radius: 5px;